@media (max-width: 900px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container {
        max-width: 45%;
    }
    .proyects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container {
        display: block;
    }
}

@media (max-width: 600px) {
    .blogs-posts-container .post-container {
        max-width: 95%;
    }
    .profile-main-container img {
        margin-left: 85px;
    }
}

@media (max-width: 320px){
    /* HEADER SECTION */
    header .header-icons-container .icons {
        justify-self: center;
        margin-right: 0;
    }
    nav .profile-link {
        margin-right: 20px;
    }
    nav .nav-logo-container {
        margin-left: 0;
    }
    /* FOOTER */
    footer {
        height: 100px;
    }
    footer p {
        margin-top: 15px;
    }
    /* MAIN BLOG */
    .blog-img-container {
        padding: 0 25px 20px;
    }
    .blogpost-main-container {
        /* le dejo el 40 porque separa del otra secction, es decir otro tema */
        padding: 0 25px 40px;
    }
    /* CONTACT */
    .contact {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        justify-items: center;
    }
    .contact div {
        text-align: center;
    }
    /* PERFIL MAIN */
    .profile-main-container img {
        width: 215px;
        margin-left: 15px;
    }
    .profile-main-container {
        padding: 70px 30px;
    }
    .profile-main-proyects {
        padding: 0 30px 40px;
    }
    .proyects-main-container {
        grid-template-columns: 1fr;
    }
}